:root {
    --black: #000000;
    --dark: #0C0C0D;
    --medium: #1A1A1B;
    --grey: #8C8C89;
    --violet: #C477D9;
    --roxo: #6E00B3;
    --purple: #8A2BE2;
    --azul: #0000FF;
    --blau: #557BE0;
    --blue: #7B77F2;
    --sky: #7B6CD9;
    --green: #2B8C55;
    --pink: #D971C7;
    --rose: #FD3DB5;
    --rosa: #E30B5D;
    --light: #FDFDFE;
    --white: #FFFFFF;
    font-family: 'Segoe UI', 
        Tahoma, Verdana, sans-serif;
}

body {
    margin: 0;
}

.header {
    background: linear-gradient(to bottom, 
        var(--pink),  var(--purple),var(--blau)); 
    padding: 6px;
    text-align: center;
}

.header h1 {
    margin: 0;
    color: var(--black);
}

.header p{
    font-size: 12px;
    top: 1px;
    color: var(--black);
}

main {
    padding: 10%;
    padding-top: 5%;
    padding-bottom: 1.8%;
    background: var(--dark);
}

/* Estilo do Lightbox ------------------------------------------------------------------------*/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, 
        minmax(250px, 1fr));
    gap: 9px;
    position: center;
}

.gallery-item {
    width: 85%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    object-fit: contain;
}

.gallery-item:hover {
    transform: scale(1.05);
}

/* Estilo do Lightbox ------------------------------------------------------------------------*/
.skipL {
    width: 50px;
    height: 50px;
    top: 50%;
    border: none;
    outline: none;
    font-size: 30px;
    color: var(--grey);
    background: var(--medium);
    cursor: pointer;
    position: fixed;
    left: 2%;
    border-radius: 14px;
}

.skipR {
    width: 50px;
    height: 50px;
    top: 50%;
    border: none;
    outline: none;
    font-size: 30px;
    color: var(--grey);
    background: var(--medium);
    cursor: pointer;
    position: fixed;
    right: 2%;
    border-radius: 14px;
}

.skipL:before, .skipR:before {
    content: '';
    background: linear-gradient(45deg,  #E30B5D, 
        #C477D9, #6E00B3, #8A2BE2,#7B77F2, 
        #7B6CD9,  #0000FF, #557BE0,  #D971C7, 
        #FD3DB5, #E30B5D);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.skipL:active, .skipR:active {
    color: #000
}

.skipL:active:after, .skipR:active:after {
    background: transparent;
}

.skipL:hover:before, .skipR:hover:before {
    opacity: 1;
}

.skipL:after, .skipR:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.footer {
    background: linear-gradient(to bottom, 
        var(--blau), var(--purple), var(--rose));
    padding: 10.1px;
    display: flex;
    justify-content: center;
    gap: 15px;
    text-color: var(--black);
}

.footer img{
    max-width: 7%;
}

.footer ul {
    display: flex;       
    position: fixed;    
    left: 5%;            
    bottom: 10px;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}


.footer li {
    font-size: 35px;
    transition: transform 0.3s;
}

.footer li a {
    color: var(--black);
    text-decoration: none;
}

.footer li:hover {
    transform: scale(1.2);
}

.idioma {
    position: fixed;
    right: 5%;
    bottom: 20px;
    font-size: 30px;
    display: flex;
    gap: 15px;
}

.idioma a {
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
}

.idioma a:hover {
    transform: scale(1.3);
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}